<style>]
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br>
  <p>Recebemos uma solicitação para sua conta</p>
  <p>se foi você que solicitou, clique no link para redefinir senha</p>
  <p>
    <a href="{{link}}">Resetar minha senh</a>
  </p>
  <p>caso vc n tenha realizado a solicitação descarte esse email</p>
  <br>
  <p>obrigado</p>
</div>
